@mixin clearfix {
    &::after {
        content: "";
        display: table;
        // Table is standard versions for clearfix.
        clear: both; 
        // Includes clear for float left and right. It will work no matter we use float left or right.
    }
}
// What Clearfix does is to put a pseudo element in after element to clear the floats. 


@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//MEDIA QUERY MANAGER
/*
0-600px:    Phone
600-900px:  Tablet portrait
900-1200px: Tablet landscape
(12-1800px) Is where our normal styles apply
1800px + :  Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

order: base + typographhy > general layout + grid > page layout > components

ems and rems are not affected by root font size.
Rems does not work in media queries
ems are best option for media queries
1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}; //600:16=37.5em
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content};
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content};
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5) {@content}; //Larger than 1800 changer will happen
    }
}