*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    /* 100% = 16px 10/16=62.5% */
    /* we allow users to zoom in for good sight */
    // this defines what 1rem is 
}


body {
    box-sizing: border-box;
}